{% extends "voucher/base.html" %}

{% block title %}Voucher Type Selection{% endblock %}

{% block content%}

<h1>{{portal.name}}</h1>

<h2>Portal Information:</h2>
<table>
    <tr>
        <th>Name:</th>
        <td>{{portal.name}}</td>
    </tr>
    <tr>
        <th>Location:</th>
        <td>{{portal.location}}</td>
    </tr>
    <tr>
        <th>SSID:</th>
        <td>{{portal.ssid}}</td>
    </tr>
    <tr>
        <th>Password:</th>
        <td>{{portal.psk}}</td>
    </tr>
</table>

<h2>Choose vouchers to print:</h2>
{% if portal.available_rolls %}
    <p>Once you click print the vouchers will be marked as used and cannot be printed again. If you are unsure your printer is working properly, try only printing 1 or 2 vouchers so not many get wasted.</p>
    {% if error_message %}
        <p><strong>{{error_message}}</strong></p>
    {% endif %}
    <form action="" method="POST">
    {%csrf_token%}
    <table>
        <tr>
            <th>Voucher type</th>
            <td>
                <select name="roll_id">
                    {% for roll in portal.available_rolls %}
                        <option {%if roll.id == roll_id %}selected="selected"{%endif%} value="{{roll.id}}">{{roll.description}} - {{roll.time_limit}} - {{roll.remaining_vouchers}} available</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Printer type</th>
            <td>
                <select name="printer_type">
                    <option {%if printer_type == 'address_labels' %}selected="selected"{%endif%} value="address_labels">Address labels on Dymo Labelwriter</option>
                    <option {%if printer_type == 'letter' %}selected="selected"{%endif%} value="letter">Letter paper on regular printer</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td><input type="number" name="quantity" min="1" max="100" value="{{quantity}}" /></td>
        </tr>
    </table>
    <input type="submit" value="Print">
    </form>
{% else %}
    <p>No voucher types are available for this portal. Please ask IT to issue more vouchers.</p>
{% endif %}


{% endblock %}
