{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
<title>{% block title %}Voucher Printer{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
{% block head %}{% endblock %}
{% block extrastyle %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"<a href="/">{{ site_header|default:'Voucher Printer'}}</a></h1>
        </div>
        {% block usertools %}
        <div id="user-tools">
            {% if user.is_authenticated %}
            {% block welcome-msg %}
                Welcome {% firstof user.get_short_name user.get_username %}.
            {% endblock %}
            {% block userlinks %}
                {% if user.is_active and user.is_staff %}
                    <a href="{% url 'admin:index' %}">Admin</a> /
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'password_change' %}">Change password</a> /
                {% endif %}
                <a href="{% url 'logout' %}">Log out</a>
            {% endblock %}
            {% endif %}
        </div>
        {% endblock %}
    </div>
    <!-- END Header -->



    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="/">Home</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}

    <div class="main shifted" id="main">
      <div class="content">
        {% block messages %}
          {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
          {% endif %}
        {% endblock messages %}
        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
          {% block pretitle %}{% endblock %}
          {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
          {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
          {% block content %}{% endblock %}
          <br class="clear">
        </div>
        <!-- END Content -->
        {% block footer %}<div id="footer"></div>{% endblock %}
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
